<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="static/styles.css">
  <title>Visualizador de Bioinformatica</title>
</head>

<body>
  <div class="container">
    <br>
    <h2 class="ml-4">Visualizador para Bioinformatica</h2>
    <br>
    <a href="{{ url_for('basics') }}"  class="btn btn-dark btn-sm btn-block" style="width: 50%;">Operaciones Basicas</a><br>
    <a href="{{ url_for('pairwise') }}"  class="btn btn-dark btn-sm btn-block" style="width: 50%;">Alineamiento de Pares</a> <br>
    <a href="{{ url_for('multiple') }}"  class="btn btn-dark btn-sm btn-block" style="width: 50%;">Alineamiento Multiple</a> <br>
    <a href="{{ url_for('cluster') }}"  class="btn btn-dark btn-sm btn-block" style="width: 50%;">Clusterizacion</a> <br>
    <a href="{{ url_for('phylogeny') }}"  class="btn btn-dark btn-sm btn-block" style="width: 50%;">Filogenia</a> <br>
    <a href="{{ url_for('secondary') }}"  class="btn btn-dark btn-sm btn-block" style="width: 50%;">Estructura Secundaria</a> <br> <br>

    <img style="width: 50%;" src="/static/home_img.jpg">

        
        
  </div>
      
  <script src="static/main.js"></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
