<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="static/styles.css">
  <title>Visualizador de Bioinformatica</title>
</head>

<body>
  <div class="container">
    <h2 class="ml-4">Visualizador de Alineamiento Multiple</h2>
    <div class="info-div">
      <div class="form-div">
        <div class="col-6">
          <hr/>
          <form method="post">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm"><b>Secuencias</b></span>
              </div>
              <textarea name="sequences" class="sequences" rows="12" cols="72" id="sequences" placeholder="ATCCGATGCG">{{ sequences }}</textarea>
            </div>
            <div class="row">
              <div class="col">
                <label for="match">Match</label>
                <input type="number" class="form-control" placeholder="Match" id="match" name="match" value="1">
              </div>
              <div class="col">
                <label for="mismatch">Mismatch</label>
                <input type="number" class="form-control" placeholder="Mismatch" id="mismatch" name="mismatch" value="-1">
              </div>
              <div class="col">
                <label for="gap">Gap</label>
                <input type="number" class="form-control" placeholder="Insertion or Deletion" id="gap" name="gap" value="-2">
              </div>
            </div>
            <hr/>
      
            <div class="row mt-3">
              <div class="col input-group-sm">
                <label for="algorithm">Algoritmo</label>
                <select name="algorithm" id="algorithm" class="form-control sm">
                  <option value="sa" selected>Star Alignment</option>
                  <option value="nj">Neighbor Joining</option>
                </select>
              </div>
              <div class="col">
                <label for="submit"> &ensp; </label>
                <button type="submit" class="btn btn-dark btn-sm btn-block" id="submit">Alinear sequencias</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div>
          <div>
            <hr/>
              <h3>Global Score</h3>
              <p>{{ score }}</p>
              <h4>Estrella</h4>
              <p>{{ star }}</p>
            <hr/>
          </div>
        <h3>Alineamiento Multiple</h3>
        <div id="listContainer">
          <div>
          <pre>
          {% if algorithm == "sa" %}
            {% for linea in sa_alignments %}
              {{ linea }}
            {% endfor %}
          {% endif %}
          {% if algorithm == "nj" %}
            <img src="/static/neigh_join.png">
          {% endif %}
          </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
      
  <script src="static/main.js"></script>
  <script>
    function neighborJoining(matrix, labels) {
    let nodes = labels.map((label, i) => ({ name: label, index: i, children: [] }));
    while (nodes.length > 2) {
        const n = nodes.length;
        const totalD = Array(n).fill(0);
        const R = Array(n).fill(0);
        let D_s = [];
        for (let i = 0; i < n; i++) {
            for (let j = 0; j < n; j++) {
                totalD[i] += matrix[i][j];
            }
        }

        for(let i = 0 ;  i < n; i++){
            let row = [];
            for(let j = 0 ; j < n; j++){
                if(i != j)
                    row[j] = (n - 2) * matrix[i][j] - totalD[i] - totalD[j];
                else
                    row[j] = 0;
            }
            D_s.push(row);
        }

        let minVal = Infinity;
        let minIndices = [-1, -1];

        for (let i = 0; i < D_s.length; i++) {
            for (let j = 0; j < D_s[i].length; j++) {
                if (D_s[i][j] < minVal) {
                    minVal = D_s[i][j];
                    minIndices = [i, j];
                }
            }
        }
    
        let a = minIndices[0];
        let b = minIndices[1];
        let delta = (totalD[a] - totalD[b]) / (n - 2);

        const distAtoB = matrix[a][b];
        const newDistA = (distAtoB + delta) / 2;
        const newDistB = distAtoB - newDistA;

        const newNode = {
            name: `Node_${nodes.length}`,
            children: [
                { ...nodes[a], distance: newDistA },
                { ...nodes[b], distance: newDistB },
            ],
            index: nodes.length,
        };
        let newMatrix = [];
        let newRow = [0];
        for (let i = 0; i < n; i++) {
            if (i !== a && i !== b) {
                const newDist = (matrix[i][a] + matrix[i][b] - distAtoB) / 2;
                newRow.push(newDist);
            }
        }
        newMatrix.push(newRow);
        for (let i = 0; i < n; i++) {
            if (i !== a && i !== b) {
                const newRow = [];
                for (let j = i; j < n; j++) {
                    if (j !== a && j !== b) {
                        newRow.push(matrix[i][j]);
                    }
                }
                newMatrix.push(newRow);
            }
        }
        let size = newMatrix.length;
        let completeMatrix = Array.from({ length: size }, () => Array(size).fill(0));
        for (let i = 0; i < size; i++) {
            let c = i;
            for (let j = 0; j < newMatrix[i].length; j++) {
                completeMatrix[i][c] = newMatrix[i][j];
                c++;
            }
        }
        for (let i = 0; i < size; i++) {
            for (let j = 0; j < i; j++) {
                completeMatrix[i][j] = completeMatrix[j][i];
            }
        }
        newMatrix = completeMatrix;

        matrix = newMatrix;
        nodes = nodes.filter((_, i) => i !== a && i !== b);
        nodes.unshift(newNode);
    }
    const aux = nodes[1];
    nodes = nodes[0];
    nodes.children.push({...aux, distance: matrix[0][1]})
    console.log(nodes)
    return nodes;
  }
  </script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
