<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="static/styles.css">
  <title>Alignments!</title>
</head>

<body>
  <div class="container">
    <h2 class="ml-4">Visualizador de Alineamiento Multiple</h2>
    <div class="info-div">
      <div class="form-div">
        <div class="col-6">
          <hr/>
          <form method="post">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm"><b>Secuencias</b></span>
              </div>
              <textarea name="sequences" class="sequences" rows="12" cols="72" id="sequences" placeholder="ATCCGATGCG"></textarea>
            </div>
            <div class="row">
              <div class="col">
                <label for="match">Match</label>
                <input type="number" class="form-control" placeholder="Match" id="match" name="match" value="1">
              </div>
              <div class="col">
                <label for="mismatch">Mismatch</label>
                <input type="number" class="form-control" placeholder="Mismatch" id="mismatch" name="mismatch" value="-1">
              </div>
              <div class="col">
                <label for="gap">Gap</label>
                <input type="number" class="form-control" placeholder="Insertion or Deletion" id="gap" name="gap" value="-2">
              </div>
            </div>
            <hr/>
      
            <div class="row mt-3">
              <div class="col input-group-sm">
                <label for="algorithm">Algoritmo</label>
                <select name="algorithm" id="algorithm" class="form-control sm">
                  <option value="sa" selected>Star Alignment</option>
                  <option value="nj">Neighbor Joining</option>
                </select>
              </div>
              <div class="col">
                <label for="submit"> &ensp; </label>
                <button type="submit" class="btn btn-dark btn-sm btn-block" id="submit">Alinear sequencias</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div>
          <div>
            <hr/>
              <h3>Global Score</h3>
              <p>{{ score }}</p>
              <h4>Estrella</h4>
              <p>{{ star }}</p>
            <hr/>
          </div>
        <h3>Alineamiento Multiple</h3>
        <div id="listContainer">
          <div>
          <pre>
          {% if algorithm == "sa" %}
            {% for linea in sa_alignments %}
              {{ linea }}
            {% endfor %}
          {% endif%}
          </pre>
          </div>
        </div>
        {% if ret %}
          <div>
            <h3>Alignments</h3>
            <label for="numElements">Select number of elements to display:</label>
            <select id="numElements" onchange="updateDisplay()">
              {% if n_alingments >= 1 %}
                <option value="1">1</option>
              {% endif %}
              {% if n_alingments >= 2 %}
                <option value="2">2</option>
              {% endif %}
              {% if n_alingments >= 3 %}
                <option value="3">3</option>
              {% endif %}
              {% if n_alingments >= 5 %}
                <option value="5">5</option>
              {% endif %}
              {% if n_alingments >= 10 %}
                <option value="10">10</option>
              {% endif %}
              <option value={{n_alingments}}>All</option>
            </select>
            <div id="listContainer">
              {% if algorithm == "nw" %}
                {% for linea in nw_alingments %}
                    <div class="list-item">
                        <pre>
                          {% for chunk in linea[0] %}{% if chunk.type == "match" %}<span style="color: green;">{{chunk.seq}}</span>{% elif chunk.type == "mismatch" %}<span style="color: yellow;">{{chunk.seq}}</span>{% else %}<span style="color: red;">{{chunk.seq}}</span>{% endif %}{% endfor %}
                          {% for chunk in linea[2] %}{% if chunk.type == "match" %}<span style="color: green;">{{chunk.seq}}</span>{% elif chunk.type == "mismatch" %}<span style="color: yellow;">{{chunk.seq}}</span>{% else %}<span style="color: red;">{{chunk.seq}}</span>{% endif %}{% endfor %}
                          {% for chunk in linea[1] %}{% if chunk.type == "match" %}<span style="color: green;">{{chunk.seq}}</span>{% elif chunk.type == "mismatch" %}<span style="color: yellow;">{{chunk.seq}}</span>{% else %}<span style="color: red;">{{chunk.seq}}</span>{% endif %}{% endfor %}
                        </pre>
                    </div>
                {% endfor %}
              {% else %}
                {% for linea in sw_alingments %}
                  <div class="list-item">
                        <pre>
                          {% for chunk in linea[0] %}{% if chunk.type == "match" %}<span style="color: green;">{{chunk.seq}}</span>{% else %}<span style="color: gray;">{{chunk.seq}}</span>{% endif %}{% endfor %}
                          {% for chunk in linea[2] %}{% if chunk.type == "match" %}<span style="color: green;">{{chunk.seq}}</span>{% else %}<span style="color: gray;">{{chunk.seq}}</span>{% endif %}{% endfor %}
                          {% for chunk in linea[1] %}{% if chunk.type == "match" %}<span style="color: green;">{{chunk.seq}}</span>{% else %}<span style="color: gray;">{{chunk.seq}}</span>{% endif %}{% endfor %}
                        </pre>
                    </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
      
  <script src="static/main.js"></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
